{
  "root": true,
  "ignorePatterns": [
    "**/lib/**/*",
    "**/node_modules/**/*",
    "!.husky",
    "!*.json"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:comment-length/recommended",
    "plugin:security-rules/recommended"
  ],
  "plugins": [
    "import"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "es6": true
  },
  "settings": {
    "debug-trace": true
  },
  "rules": {
    "security-rules/node/no-unsafe-path": ["error", {
      "sanitation": {
        "method": "sanitizePath",
        "location": "{{root}}/src/utils/sanitize-path"
      },
      "root": "{{root}}"
    }],
    "spaced-comment": "warn",
    "import/no-unresolved": "off",
    "import/namespace": "off",
    "import/no-relative-packages": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended"
      ],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": [
        "*.json"
      ],
      "parser": "jsonc-eslint-parser"
    }
  ]
}