{
  "root": true,
  "ignorePatterns": [
    "**/lib/**/*",
    "**/node_modules/**/*",
    "!.husky",
    "!*.json"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:comment-length/recommended",
    "plugin:security-rules/recommended"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "spaced-comment": "warn",
    "import/no-unresolved": "off",
    "import/namespace": "off",
    "import/no-relative-packages": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroupsExcludedImportTypes": [
          "builtin"
        ],
        "newlines-between": "always"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended"
      ],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": [
        "*.json"
      ],
      "parser": "jsonc-eslint-parser"
    }
  ]
}