import { primary[[nextIndex]] } from "[[nextFile]]";

export async function primary[[index]](): Promise<string> {
  const a = await primary[[nextIndex]]();
  const second = secondary(a);

  const test = second;
  return test;
}

function secondary(input: string): string {
  const tmp = tertiary("unused", input);

  return tmp;
}

function tertiary(input1: string, input2: string): string {
  const intermediate = input2;

  return intermediate;
}
