{
  "extends": "../../../../../../.eslintrc",
  "rules": {
    "security-rules/node/no-unsafe-path": ["error", {
      "sanitation": {
        "location": "{{inplace}}",
        "method": "sanitizePath"
      },
      "root": "{{abs}}:@test-root"
    }]
  }
}